.heroBackground {
  min-height: 80vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(54, 27, 27, 0.815),
      rgba(95, 55, 55, 0.63)
    ),
    url(../../assets/u.jpg);
  background-size: cover;
  background-position: right;

  /* Add the blur effect */
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
}

/* .heroText {
  background-color: rgb(0, 0, 0); Fallback color
  background-color: rgba(0, 0, 0, 0.4); Black w/opacity/see-through
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;

 */
